body {
  background: #1e3148; }

.bg-home {
  background: #5bb0ba; }

.bg-resume {
  background: #c15b78; }

.bg-work {
  background: #e1c340; }

.bg-footer {
  background: #3A4360; }

#main-header .bg1 {
  background: #3A4360; }

#main-header .name {
  color: #E6E2DB; }
  #main-header .name .fa {
    font-size: 23px;
    color: #E6E2DB; }

#main-header .bg2 {
  background: #33334d;
  color: #E6E2DB; }

#home .bg-home {
  background: #5bb0ba; }

#home .progress .bg-progress {
  background: #5bb0ba; }

#home .progress .progress-bar {
  border-radius: 15px; }

#work img {
  width: 100%;
  height: 100%; }

.bg-black {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }
